@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #2b2b2b;
}
body {
    width: 100%;
    background: rgb(227, 226, 226);
    font-family: 'Noto Sans KR', sans-serif;
}
header, #top-menu, section { margin: 0 auto; }
/* public style */

/* nav style*/
header {
    width: 100%;
    height: 60px;
    background: white;
    box-shadow: 0 0 7px #818181;
    z-index: 999;
}
#top-menu {
    width: 80%;
    line-height: 60px;
}
.top-title img { width: 2em; }
.top-title, .top_nav {
    display: flex;
    align-items: center;
    float: left;
}
.top_nav { float: right; }
.top_nav li {
    padding-left: 20px;
}
#top-menu .header-title {
    font-size: 1em;
    margin-left: 10px;
}

/* main nav end */
#sub_menu {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: none;
}
#main_sub_nav .sub_nav {
    margin: 0 auto;
}
.sub_nav li {
    display: block;
}
/* sub menu enc */
section {
    width: 80%;
}