#AICC1 section {
    margin: 0 auto;
    background: white;
    display: flex;    
    flex-direction: row;
}

#AICC1 section > article {
    flex-grow: 1;
    border: 1px solid black;
    min-height: 500px;
    min-width: 300px;
}

/* 미디어 쿼리 추가 */
@media (max-width: 840px) {
    #AICC1 section {
        margin: 0 auto;
        background: white;
        display: flex;    
        flex-direction: column;
    }
}

/**************************************/
/* 교통 관련 */
#AICC1 #traffic{
    display: flex;
}
#AICC1 #traffic_L{
    background-color: #e9ecef;
    overflow: hidden;
    min-width: 600px;
    width: 600px;
    height: 510px;
}
#AICC1 #traffic_M{
    background-color: #715253;
    width: 365px;
    height: 510px;
    position: relative;
    overflow: hidden;
}
#AICC1 #traffic_R{
    min-width: 40vw;
    background-color: #ffffff;
    overflow: hidden;
    height: 510px;
}
/*****************************************/
#AICC1 #weather{
    display: flex;
}
#AICC1 #weather_L{
    position: relative;
    background-color: #00ffe7;
    overflow: hidden;
    width: 365px;
    min-width: 365px;
    height: 510px;
}
#AICC1 #weather_M{
    background-color: #b200ff;
    position: relative;
    overflow: hidden;
    width: 25vw;
    height: 510px;
}
#AICC1 #weather_R{
    background-color: #0033ff;
    overflow: hidden;
    width: 50vw;
    height: 510px;
}
