/*플러그인 관련*/
#weatherChart .bx-wrapper { box-shadow: none; margin-bottom: 30px }
#weatherChart .bx-pager { display: none; }
#weatherChart .bx-wrapper .bx-prev { display: none; }
#weatherChart .bx-wrapper .bx-next { display: none; }

#weatherChart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#weatherChart .slide_gallery {
    width: 100%; /* 추가된 부분 */
    box-shadow: none;
    text-align: center;
}

#weatherChart .weatherChart_table {
    background-color: whitesmoke;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e9ecef;
    border-collapse: collapse;

}
/*#weatherChart th:first-child, td:first-child { border: none; }*/
#weatherChart .weatherChart_table img { width: 2em; }
#weatherChart .weatherChart_table th, td {
    width: 100%;
    border-left: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
    padding: 10px;
    font-size: 0.9em;
}

#weatherChart #tempChart{
    width: 100%;
    background-color: #cccccc;
}

#weatherChart #gallery_wrap{
    display: flex;
}
#weatherChart #gallery_wrap > *{
    width: 100%;
}
