#trafficMetroline{
    width: 600px;
    height: 370px;
    display: flex;
    flex-direction: column;
    /*border: 2px solid green;*/
}
#trafficMetroline #trafficMatroline_BtnContainer{
    display: flex;
}
#trafficMetroline #trafficMatroline_BtnContainer button{
    flex-grow: 1;
    padding: 10px;

}
#trafficMetroline #traffic_gallery_wrap{
    overflow: hidden;
}

#trafficMetroline #traffic_slide_gallery{
    display: flex;
    width: 5400px;
}
#trafficMetroline .traffic_slide_gallery_Image{
    display: inline-block;
    width: 600px;
    height: 325px;
}

#trafficMetroline  #backbtn {
        background-size: contain;
}
#trafficMetroline  #nextbtn {
    background-size: contain;
}