#traffic{
    height: 510px;
    background-color: coral ;
}
#traffic_slide_gallery{
    display: flex;
    width: 5400px;
}
.traffic_slide_gallery_Image{
    display: inline-block;
    width: 600px;
    height: 400px;
}
#traffic_gallery_wrap{
    border: 10px solid red;
    width: 600px;
    /*height: 400px;*/
    overflow: hidden;
}

#backbtn {
        background-size: contain;
}
#nextbtn {
    background-size: contain;
}